.nav-item {
    font-size: 20px;
    font-family: "Trirong", serif;
}
a {
    font-family: "Trirong", serif;
}

::ng-deep .mat-menu-panel {
    background-color: #ffdcc9 !important;
    border: 1px solid #dcb99b;
    border-radius: 6px !important;
    font-family: "Trirong", serif;
    color: #402218;
    text-align: center;
    padding: 20px 28px 20px;
}
