<div class="catalog">
  <h1 style="text-align: center;">Catalog <i class='fas fa-award'></i></h1>
  <grades-catalog></grades-catalog>
</div>
<br><br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Applications
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <app-upload></app-upload>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Courses
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <course-upload></course-upload>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Tests & Grades
      </mat-panel-title>
      <mat-panel-description>First - second - final</mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="week">First evaluation - week 5</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="evaluateButton">
          <button class="newUploadButton" mat-button (click)="openDialog()"> <mat-icon>note_add</mat-icon> Create a new quiz</button>
        </div><br>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="week">Second evaluation - week 9</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="evaluateButton">
          <button class="newUploadButton" mat-button (click)="openDialog()"><mat-icon>note_add</mat-icon> Create a new quiz</button> 
        </div><br>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="week">Final evaluation - week 14</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="evaluateButton">
          <button class="newUploadButton" mat-button (click)="openDialog()"> <mat-icon>note_add</mat-icon> Create a new quiz </button> 
        </div><br>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>