<h1>Materii la care sunt implicat: </h1>
<h2>Vezi situatia studentilor mai jos de la toate materiile</h2>
<ul>
    <li>Materia 1 - link -> afisare din baza de date + filtrare studenti -> adauga curs/lab/test -> evalueaza student</li>
    <li>Materia 2 - link -> afisare din baza de date + filtrare studenti -> adauga curs/lab/test -> evalueaza student</li>
    <li>Materia 3 - link -> afisare din baza de date + filtrare studenti -> adauga curs/lab/test -> evalueaza student</li>
    <li>Materia 4 - link -> afisare din baza de date + filtrare studenti -> adauga curs/lab/test -> evalueaza student</li>
    <li>Materia 5 - link -> afisare din baza de date + filtrare studenti -> adauga curs/lab/test -> evalueaza student</li>
</ul>
