<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Catalog
      </mat-panel-title>
      <mat-panel-description class="description">Students's result from evaluation</mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <grades-catalog></grades-catalog>
    <app-statistics></app-statistics>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Applications
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <app-upload></app-upload>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Courses
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <course-upload></course-upload>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>
        Tests
      </mat-panel-title>
      <mat-panel-description class="description">First - second - final</mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="week">First evaluation - week 5</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="evaluateButton">
          <button class="newUploadButton" mat-button (click)='openDialog("first")'> <mat-icon>note_add</mat-icon> Create quiz for the first evaluation</button>
        </div><br>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="week">Second evaluation - week 9</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="evaluateButton">
          <button class="newUploadButton" mat-button (click)='openDialog("second")'><mat-icon>note_add</mat-icon> Create quiz for the second evaluation </button> 
        </div>
        <br>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="week">Final evaluation - week 14</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="evaluateButton">
          <button class="newUploadButton" mat-button (click)='openDialog("final")'> <mat-icon>note_add</mat-icon>  Create quiz for the final evaluation </button> 
        </div><br>
      </mat-expansion-panel>
      <div  style="text-align: center;">
        <app-quiz-upload></app-quiz-upload>
      </div>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>

