th.mat-header-cell {
    text-align: center;
    font-size: 17px;
    background-color: #402218;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
}

td.mat-cell {
    text-align: center;
    font-size: 17px;
    background-color: #dcb99b;
    border-bottom: 1px solid #402218;
    color: black;
    
}

.nr {
    padding-left:125px !important;
}

.users {
    margin: 0 auto;
    position: absolute;
    left:5%;
}

.mat-icon-button {
    color: #ffdcc9;
    background-color: #402218;
}

.mat-icon-button {
    color: #ffdcc9;
    background-color: #402218;
}

.mat-icon-button:hover {
    color: #ffdcc9;
    background-color: #22120c;
    font-size:21px
}

.add {
    color: #22120c;
    background-color: #dcb99b;
    border: 1px solid #402218;
}



.add:hover {
    color: #ffdcc9;
    background-color: #402218;
}

.addButton {
    top:40%;
}

.alert {
    background-color: #dcb99b;
    color: #402218;
    border: 1px solid #402218;
    width:40%;
    font-size: 20px;
    font-family: "Trirong", serif;
    left:30%;
    text-align: center;
}

    