<label>
    <input type="file" (change)="selectFile($event)" style="display: inline" />
</label>
    <button mat-raised-button class="uploadButton" [disabled]="!selectedFiles" (click)="uploadFile()" >
    Upload course
</button><br><br>
  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
  <div>
    <ul *ngFor="let file of coursesInfos | async" style="list-style-type: none;">
      <li>
        <a href="{{ file.url }}"> <i class="fa fa-file-pdf-o" aria-hidden="true" style="color: red" ></i> {{ file.name }}</a>
      </li>
    </ul>
  </div>
