QPushButton { background-color: #B3E5FC; border: 2px solid; border-radius: 8px}
QMainWindow { background-color: #01579B }
QLabel { color: white }
QGroupBox { color: white }
QRadioButton { color: white; font-size: 16px}