<h1> Materii an curent</h1>
<ul>
    <li>Materia 1 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota </li>
    <li>Materia 2 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota</li>
    <li>Materia 3 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota</li>
    <li>Materia 4 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota</li>
    <li>Materia 6 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota</li>
    <li>Materia 7 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota</li>
    <li>Materia 8 - link -> incarca solutie/raspunde test -> vizualizare curs/laborator/nota</li>
</ul>
<app-file-upload></app-file-upload>