.titles{
    padding-top: 1px !important;
    background-color: #402218 !important;
    padding-bottom: 1px !important; 
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 400;
}

.week {
    color: #402218;
    border-left: 4px solid #402218 ;
    padding: 1em;
    margin: 1em auto;
    font-size: 22px;
    font-family: "Raleway";
}

.description {
    color: #402218;
    font-size:18px;
    font-family: "Raleway";
}

.mat-expansion-panel-header {
    color: #402218;
}
.mat-expansion-panel {
    background-color: #ffdcc9 !important;
    color: #402218;
    padding-bottom: 10px;
}

i {
    color:red;
}

li{
    background-color: #ffdcc9;
    border-left: 4px solid #402218 ;
    border-bottom: 2px solid #402218 ;
    border-radius:5px;
    padding: 1em;
    margin: 1em auto;
    color: #666;
    font-size:18px;
    font-weight: 700;
    font-family: "Raleway";
   }

   .startQuizButton {
    background-color: #dcb99b;
    color: black;
    border: 1px solid #402218;
    font-size: 20px;
    font-family: "Trirong", serif;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 6px;
}

.startQuizButton:hover {
    background-color: #402218;
    color: white;
}

.startQuizButton:disabled {
    background-color: #402218;
    color: white;
    opacity: 0.6;
}

.feedback {
    background-color: #dcb99b;
    color: #402218;
    border: 1px solid #402218;
    width:40%;
    font-size: 20px;
    font-family: "Trirong", serif;
    left:30%;
    text-align: center;
}
