<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="titles">
        <mat-panel-title>
          Applications
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul *ngFor="let file of appsInfos | async" style="list-style-type: none;">
          <li>
            <a href="{{ file.url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ file.name }}</a>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="titles">
        <mat-panel-title>
          Courses
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ul *ngFor="let file of coursesInfos | async" style="list-style-type: none;">
          <li>
            <a href="{{ file.url }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ file.name }}</a>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header class="titles">
      <mat-panel-title>Evaluation</mat-panel-title>
      <mat-panel-description>14 weeks</mat-panel-description>
    </mat-expansion-panel-header>
    <br>
    <!-- level 02 -->
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 1</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 1</mat-panel-description>
        </mat-expansion-panel-header>
        Start quiz
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 2</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 2</mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header class="subtitle">
            <mat-panel-title class="week">Week 3</mat-panel-title>
            <mat-panel-description class="description">Evaluate app 3</mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 4</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 4</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 5</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 5</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 6</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 6</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 7</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 7</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 8</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 8</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 9</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 9</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 10</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 10</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 11</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 11</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 12</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 12</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 13</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 13</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
      <mat-expansion-panel-header class="subtitle">
          <mat-panel-title class="week">Week 14</mat-panel-title>
          <mat-panel-description class="description">Evaluate app 14</mat-panel-description>
      </mat-expansion-panel-header>
      </mat-expansion-panel>
       
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>

