<div style="text-align:center;">
<table>
    <tr>
      <th> Id </th>
      <th> Firstname </th>
      <th> Lastname </th>
      <th> Email </th>
      <th> Grade </th>
      <th> Evaluation </th>
    </tr>
    <tr *ngFor="let student of students">
        <td>{{ student["id"] }}</td>
        <td>{{ student["firstname"] }}</td>
        <td>{{ student["lastname"] }}</td>
        <td>{{ student["email"] }}</td>
        <td>{{ student["grade"] }}</td>
        <td>{{ student["evaluationType"] }}</td>
      </tr>
  </table>
</div>