
<div>
    <h1>Bine ai venit pe EvalPlatform!</h1>
    <br>
    <h2>Aici vei avea posibilitatea sa-ti vezi situatia de la laboratorele din anul curent ca si student, iar ca si profesor sa evalueazi studentul</h2>
    <ul>
        <li>Student</li>
        <li>Materie</li>
        <li>Profesor</li>
        <li>Curs</li>
        <li>Laboratoare</li>
        <ol>
            <li>Laborator 1</li>
            <li>Laborator 2</li>
            <li>Laborator 3</li>
            <li>Laborator 4</li>
            <li>Laborator 5</li>
            <li>Laborator 6</li>
            <li>Laborator 7</li>
            <li>Laborator 8</li>
            <li>Laborator 9</li>
            <li>Laborator 10</li>
            <li>Laborator 11</li>
            <li>Laborator 12</li>
            <li>Laborator 13</li>
            <li>Laborator 14</li>
        </ol>
    </ul>
</div>