.mat-form-field {
    width: 100%;
    padding: 0.5em 0.5em 0.5em;
}

.labels {
    color: black;
}

form {
    border-radius: 10px;
}

.mat-stepper-vertical {
    background-color: #fffcf5;
    color: black;
}

::ng-deep .mat-step-text-label {
    color: black;
}

::ng-deep .mat-vertical-stepper-header .mat-step-icon {
    background-color: #534339;
}

.inputs {
    border-radius: 3px;
}

.next {
    text-align: center;
    color: #534339;
}

.next>button {
    color: #fffcf5;
    background-color: #534339;
    border: 2px solid #534339;
    margin-bottom: 10px;
    margin-left: 10px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f3f1eb;
    border-radius: 5px;
    border-left: 4px solid #534339;
}

::placeholder { 
    color: red;}