.mat-form-field {
    width: 100%;
    padding: 0.5em 0.5em 0.5em;
}

.labels {
    color: black;
}

form {
    border-radius: 10px;
}

.mat-stepper-vertical {
    background-color: #dcb99b;
    color: black;
    border: solid #402218 1px;
}

::ng-deep .mat-step-text-label {
    color: black;
}

::ng-deep .mat-vertical-stepper-header .mat-step-icon {
    background-color: #402218;
}

.inputs {
    border-radius: 3px;
}

.next {
    text-align: center;
    color: #402218;
}

::ng-deep .mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    color: white;
}

button {
    background-color: #402218;
    font-size:25px;
    font-family: "Trirong", serif;
    border-radius: 6px;
}

button:hover {
    background-color: #22120c;
    color: white;
}

::ng-deep .mat-dialog-container {
    background: #ffdcc9;
    border: solid #402218 2px;

}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffdcc9;
    border-radius: 5px;
    border-left: 4px solid #402218;
}

::placeholder { 
    color: red;}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    background-color: #402218;
    opacity: 0.6;
}

.addNew{
    postition: absolute;
    left:50%;
    color: white;
    border: 0px;
}

::ng-deep .mat-step:last-child .mat-vertical-content-container {
    border: none;
    padding-bottom: 30px;
}