<mat-stepper orientation="vertical" [linear]=true #stepper>
    <mat-step [stepControl]="firstQuestion">
        <form [formGroup]="firstQuestion" name="form1">
            <ng-template matStepLabel class="questionNr">Question nr. 1</ng-template>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Question</mat-label>
                <input class="inputs" matInput placeholder="Enter the question" required formControlName="question">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Correct answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the correct answer" formControlName="correct" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="wrong" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="bad" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="worst" required>
            </mat-form-field>
            <div class="next">
                <button mat-stroked-button color="accent" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondQuestion">
        <form [formGroup]="secondQuestion"  name="form2">
            <ng-template matStepLabel class="questionNr">Question nr. 2</ng-template>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Question</mat-label>
                <input class="inputs" matInput placeholder="Enter the question" formControlName="question" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Correct answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the correct answer" formControlName="correct" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="wrong" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="bad" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="worst" required>
            </mat-form-field>
            <br>
            <div class="next">
                <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
                <button mat-stroked-button color="accent" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdQuestion">
        <form [formGroup]="thirdQuestion"  name="form3">
            <ng-template matStepLabel class="questionNr">Question nr. 3</ng-template>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Question</mat-label>
                <input class="inputs" matInput placeholder="Enter the question" formControlName="question" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Correct answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the correct answer" formControlName="correct" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="wrong" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="bad" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="worst" required>
            </mat-form-field>
            <br>
            <div class="next">
                <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
                <button mat-stroked-button color="accent" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthQuestion">
        <form [formGroup]="fourthQuestion"  name="form4">
            <ng-template matStepLabel class="questionNr">Question nr. 4</ng-template>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Question</mat-label>
                <input class="inputs" matInput placeholder="Enter the question" formControlName="question" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Correct answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the correct answer" formControlName="correct" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="wrong" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="bad" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="worst" required>
            </mat-form-field>
            <br>
            <div class="next">
                <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
                <button mat-stroked-button color="accent" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fifthQuestion">
        <form [formGroup]="fifthQuestion"  name="form5">
            <ng-template matStepLabel class="questionNr">Question nr. 5</ng-template>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Question</mat-label>
                <input class="inputs" matInput placeholder="Enter the question" formControlName="question" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Correct answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the correct answer" formControlName="correct" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="wrong" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="bad" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label class="labels">Wrong answer</mat-label>
                <input class="inputs" matInput placeholder="Enter the wrong answer" formControlName="worst" required>
            </mat-form-field>
            <br>
            <div class="next">
                <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
                <button mat-stroked-button color="accent" (click)="onSubmit()" [mat-dialog-close]>Save quiz</button>
                <button mat-stroked-button color="accent" (click)="stepper.reset()">Reset</button>
            </div>
        </form>
    </mat-step>
</mat-stepper>