<div class="container mt-5">
    <mat-card>
        <div class="d-flex justify-content-between p-3">
            <div>Cel mai smecher quiz</div>
            <div>Nume: {{ lastname }} Prenume: {{ firstname }} Username: {{ username }} </div>
        </div>
        <div class="d-flex justify-content-around py-3">
            <div class="question-remain">
                <span style="font-style: italic;">Question {{currentQuestion + 1}} of 5</span>
            </div>
            <div class="'quiztitle">Quiz week 7</div>
            <div class="timer">
                {{timer}} seconds
            </div>
        </div>
        <div *ngIf="!noTime && !quizDone">
            <div class="question">
                <ng-container *ngIf="questions">
                    <mat-card *ngIf="questions[currentQuestion]">
                        {{questions[currentQuestion].question}}
                    </mat-card>
                </ng-container>
            </div>
            <div class="answers">
                    <mat-selection-list #answersCorrect [multiple]="false">
                        <mat-list-option *ngFor="let answer of questions[currentQuestion]?.answers" [value]="answer" (click)="evaluate(currentQuestion + 1, answer, questions[currentQuestion]?.answers)">
                        <div *ngIf="answer.correct">{{answer.correct}}</div>
                        <div *ngIf="answer.wrong">{{answer.wrong}}</div>
                        <div *ngIf="answer.wrong1">{{answer.wrong1}}</div>
                        <div *ngIf="answer.wrong2">{{answer.wrong2}}</div>
                        </mat-list-option>
                    </mat-selection-list>
            </div>  
        </div>
        <div *ngIf="noTime || quizDone">
            <mat-card>
                <h2 style="text-align:center">S-a terminat testul!</h2>
              </mat-card>
        </div> 
        <br><br>
        <div class="d-flex justify-content-between">
            <button class="buttonEvaluation" mat-raised-button color="primary" [mat-dialog-close]="noTime">Submit</button>
            <div class="d-flex justify-content-between">
                <div *ngFor="let item of [].constructor(questions.length); let i = index">
                    <button class="questionViewButton" mat-raised-button color="primary" [disabled] = "currentQuestion != i " >Question nr {{i + 1}}</button>
                 </div>

            </div>
            <button [disabled]="quizDone" class="buttonEvaluation" mat-raised-button color="primary" (click) = "nextQuestion()">Next</button>
        </div>
    </mat-card>
</div>
