.full-width{
    width: 100%;
    margin-bottom: 30px;
}
.labels {
    color: black;
    font-size: 20px;
    font-weight:500;
    padding-left: 10px;
    font-family: "Trirong", serif;
}

.loginButton {
    background-color: #dcb99b;
    color: black;
    border: 1px solid;
    font-size:25px;
    font-family: "Trirong", serif;
}

.form-field {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #402218;
}

.icon-hide {
    transform: scale(1.5);
    color: #402218;
}

.icons {
    transform: scale(1.2);
    color: #402218;
}


input {
    padding-left: 8px;
    font-size: 18px;
    font-family: "Trirong", serif;
    color: #402218;
}

a {
    font-size: 16px;
    font-family: "Trirong", serif;
}

.alert {
    background-color: #dcb99b;
    color: #402218;
    border: 1px solid #402218;
    width:40%;
    font-size: 20px;
    font-family: "Trirong", serif;
    left:30%;
    text-align: center;
}
